<center><h2><%= @post.description %></h2></center>
<br>
<center><%= image_tag @post.image.url(:large), :class => "style_image" %></center>
<br>
<center><%= link_to("Dalej", @post.next, :class => 'btn btn-default') if @post.next %></center>
<center><%= link_to("Jeszcze raz?", root_path, :class => 'btn btn-default') unless @post.next %>

